body {
  font-family: Arial, sans-serif;
  background-color: #1032cc6e;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background: #e0e4ff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
  text-align: center;
  color: #000000;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #ba03f7;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d6ec0f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.task-text {
  flex-grow: 1;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
